@use '../../../assets/styles/variables.module' as var;

.search_item {
  max-width: 300px;
  padding: 1rem;
  background-color: var.$color_accent_bluedark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  border: 1px solid var.$color_accent_bluelight;
  transition: transform 300ms ease-out;

  &:hover {
    cursor: pointer;
    border: 1px solid var.$color_accent_greenlight;
    transform: translateY(-5%);
  }

  .title {
    font-family: var.$font-family_accent;
    color: var.$color_font_smoke;
    font-weight: 400;
  }

  .image {
    max-width: 100px;
    border-radius: 15px;
  }
}