@use '../../../assets/styles/variables.module' as var;

.details_item img {
  border-radius: 25px;
}

.details_item h3 {
  font-family: var.$font-family_accent;
}

.hero img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.content {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  background-color: var.$color_accent_bluedark;

  h1 {
    font-size: 3rem;
    padding: 1rem 0;
    font-family: var.$font-family_accent;
    color: var.$color_font_white;
  }

  .overview,
  .about {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .facts {
      display: flex;
      column-gap: 3rem;
    }

    .links {
      display: flex;
      justify-content: space-around;
    }
  }

  .developer {
    display: flex;
    column-gap: 3rem;
  }
}

@media screen and (max-width: var.$breakpoint_xs) {
  .content {
    padding: 0.5rem 1rem;
  
    h1 {
      font-size: 1.875rem;
    }
  }
}

@media screen and (max-width: var.$breakpoint_xxs) {
  .content {
    padding: 0.5rem 0.5rem;
  
    h1 {
      font-size: 1.5rem;
    }
  }
}