@use '../assets/styles/variables.module' as var;

.element_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 5rem;
  row-gap: 2.5rem;
  padding: 1.25rem 0;
}