.allgames {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  .hero {
    background-image: url("../../../assets/images/image_hero1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h1 {
      text-transform: uppercase;
      margin: 350px 0 108px 56px;
    }
  }

}