@use '../../../assets/styles/variables.module' as var;

.collapsible {
  .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var.$color_accent_bluelight;
    border-radius: 10px;
    border: 1px solid var.$color_accent_bluedark;

    font-weight: 700;

    min-width: 220px;
    padding: 0.5rem 1rem;
    color: var.$color_font_white;

    &:hover {
      cursor: pointer;
      border: 1px solid var.$color_accent_greenlight;
    }
  }

  .icon {
    transform: rotate(180deg);
  }

  .collapsible_items {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    background-color: var.$color_accent_bluedark;
    border-radius: 12px;
    position: absolute;
  }
}

@media screen and (max-width: 750px) {
  .collapsible .name {
    min-width: 150px;
  }
}