@use "../../../assets/styles/variables.module.scss" as var;

.list_item {
  max-width: 300px;
  border-radius: 25px;
  background-color: var.$color_accent_bluedark;
  border: 1px solid var.$color_accent_bluelight;
  transition: transform 300ms ease-out;

  &:hover {
    border: 1px solid var.$color_accent_greenlight;
    transform: translateY(-3%);
  }

  .hero img {
    border-radius: 25px;
  }

  .content {
    padding: 0.5rem;
    height: 8rem;

    display: flex;
    flex-direction: column;
    gap: 8px;

    h3 {
      font-family: var.$font-family_accent;
    }

    p {
      padding: 0.3rem 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .details {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
  }

  .info {
    border-top: 1px solid var.$color_accent_greenlight;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a:nth-of-type(1) {
      padding: 0.8rem;
      cursor: default;
    }

    a:nth-of-type(2) {
      padding: 0.5rem;
      cursor: default;
    }
  }
}