.home {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  .hero {
    background-image: url("../../../assets/images/image_hero.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    h1 {
      text-transform: uppercase;
      max-width: 350px;
      margin: 350px 0 72px 56px;
    }
  }

  .ranking {

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;
    }
  }
}