@use '../../../assets/styles/variables.module' as var;

.filter_button {
  color: var.$color_font_white;
  display: flex;
  column-gap: 12px;
  font-family: var.$font-family_accent;
  font-weight: 500;
  padding-inline: 12px;
  padding-block: 6px;
  background-color: var.$color_accent_bluelight;
  border: 1px solid var.$color_accent_greenlight;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }
}