// ==================================
//           IMPORT
// ==================================
@use "./mixins.module.scss";
@use "./variables.module.scss" as var;

// ==================================
//           GENERAL STYLES
// ==================================

:root {
  // font-family: var.$font-family_primary;
  
//   line-height: var.$line-height_primary;
  color: var.$color_primary;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color-scheme: light dark;

  background-color: var.$color_root_background;

//   @include mixins.centered();
}