// ==================================
//           IMPORT
// ==================================
@use "./mixins.module.scss";
@use "./variables.module.scss" as var;

// ==================================
//           GENERAL STYLES
// ==================================

body {
  font-family: var.$font-family_primary;
  font-weight: 200;
  color: var.$color_font_smoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  height: 100svh;

  background: url(var.$root_background_image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}