// ==================================
//           IMPORT
// ==================================
@font-face {
  font-family: SpaceGrotesk;
  src: url("./assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
}

@font-face {
  font-family: Oswald;
  src: url("./assets/fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

// ==================================
//           VARIABLES
// ==================================

// ========= Styling ================

$font-family_primary: SpaceGrotesk;
$font-family_accent: Oswald;

$root_background_image: "./assets/images/image_background.jpeg";

$color_font_white: hsla(0, 0%, 100%, 1);
$color_font_smoke: hsla(210, 2%, 78%, 1);

$color_primary: hsla(199, 67%, 5%, 1);
$color_accent_bluelight: hsla(209, 34%, 33%, 1);
$color_accent_bluedark: hsla(208, 50%, 13%, 1);
$color_accent_greenlight: hsla(176, 96%, 69%, 1);
$color_accent_greendark: hsla(177, 40%, 45%, 1);


// ========= Root =============
// $root_width_desktop: 1280px;
$root_width_desktop: 1440px;


// ========= Responsiveness =======
$breakpoint_xl: 1200px;
$breakpoint_md: 768px;
$breakpoint_xs: 576px;
$breakpoint_xxs: 425px;