// ==================================
//           IMPORT
// ==================================
@use "./generals.module.scss";
@use "./mixins.module.scss";
@use "./resets.module.scss";
@use "./variables.module.scss" as var;

// ==================================
//           APP STYLES
// ==================================

#root {
  max-width: var.$root_width_desktop;
  margin: 0 auto;
  padding-top: 64px;

  //   @include mixins.centered();
}