// ==================================
//           IMPORT
// ==================================
@use "./generals";
@use "./mixins";
@use "./resets";
@use "./variables" as var;

// ==================================
//           APP STYLES
// ==================================

main {
  max-width: var.$root_width_desktop;
  margin: 0 auto;
  padding: 1rem;

  //
  background-color: blue;
}