// ==================================
//           IMPORT
// ==================================
@use "./generals.module.scss";
@use "./mixins.module.scss";
@use "./resets.module.scss";
@use "./variables.module.scss" as var;

// ==================================
//           APP STYLES
// ==================================

main {
  max-width: var.$root_width_desktop;
  margin: 0 auto;
  padding: 1rem;

  //
  background-color: blue;
}